[package]
name = "my_project"  
version = "0.1.0"
edition = "2021"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }

[[bench]]
name = "indicator_benchmark"
harness = false

[dependencies]
serde = { version = "1.0", features = ["derive"] }
csv = "1.1"
ndarray = "0.16.1"
chrono = "0.4.39"
thiserror = "2.0.9"
libc = "0.2.172"
lru = "0.14.0"
once_cell = "1.21.3"
paste = "1.0.15"
wide = "0.7.32"
num-traits = "0.2.19"
anyhow = "1.0.98"

[lib]
doctest = false
path = "src/lib.rs"
crate-type = ["rlib"]

[[bin]]
name = "my_project"
path = "src/main.rs"

[profile.bench-dev]          # ← requires nightly
inherits = "dev"
opt-level = 1
codegen-units = 256
incremental = true           # real incremental
lto = false
debug = false

[profile.release]
opt-level       = 3         # default, shown for clarity
lto             = "thin"    # ~95 % of “fat” LTO’s perf for ⅓ the link time
codegen-units   = 1         # single CGU = maximum inlining across crates
incremental     = true     # make sure we really optimise across the whole crate
panic           = "abort"   # remove unwinding machinery (≈ −1 % run time, −5 % size)
strip           = "symbols" # smaller binaries (optional)
overflow-checks = false     # no integer overflow traps in release

[profile.bench]
inherits = "release"
