[package]
name = "my_project"  
version = "0.1.0"
edition = "2021"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }

[[bench]]
name = "indicator_benchmark"
harness = false

[dependencies]
serde = { version = "1.0", features = ["derive"] }
csv = "1.1"
ndarray = "0.16.1"
chrono = "0.4.39"
thiserror = "2.0.9"
lru = "0.14.0"
once_cell = "1.21.3"
paste = "1.0.15"
num-traits = "0.2.19"
anyhow = "1.0.98"
rayon = "1.10.0"
aligned-vec = "0.6.4"
libc = "0.2.172"
itertools = "0.14.0"
ctor = "0.4.2"
wasm-bindgen = { version = "0.2.1", optional = true }
pyo3 = { version = "0.25.0", optional = true, features = ["extension-module"] }
numpy = { version = "0.25.0", optional = true }
proptest = "1.7.0"
smallvec = "1.15.1"


[build-dependencies]
cmake = "0.1.54"
bindgen = "0.71.1"
which = "7.0.3"

[lib]
doctest = false
path = "src/lib.rs"

[[bin]]
name = "my_project"
path = "src/main.rs"

[profile.release]
opt-level       = 3
lto             = "thin"
codegen-units   = 256
incremental = false
panic           = "abort"
overflow-checks = false
debug = true
strip = "none"
split-debuginfo = "unpacked"

[profile.bench]
inherits = "release"
incremental = false

[features]
default = []
nightly-avx = []
wasm = ["wasm-bindgen"]
python = ["pyo3", "numpy"]
