[package]
name = "my_project"  
version = "0.1.0"
edition = "2021"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }

[[bench]]
name = "indicator_benchmark"
harness = false

[dependencies]
serde = { version = "1.0", features = ["derive"] }
csv = "1.1"
ndarray = "0.16.1"
chrono = "0.4.39"
thiserror = "2.0.9"
libc = "0.2.172"
lru = "0.14.0"
once_cell = "1.21.3"
paste = "1.0.15"
wide = "0.7.32"
num-traits = "0.2.19"
anyhow = "1.0.98"
rayon = "1.10.0"

[lib]
doctest = false
path = "src/lib.rs"

[[bin]]
name = "my_project"
path = "src/main.rs"

[profile.bench-dev]
inherits = "dev"
opt-level = 1
codegen-units = 256
incremental = false
lto = false
debug = false

[profile.release]
opt-level       = 3
lto             = "thin"
codegen-units   = 256
incremental = false
panic           = "abort"
strip           = "symbols"
overflow-checks = false
target-cpu     = "native"


[profile.bench]
inherits = "release"
incremental = false
