[build]
# rustc-wrapper = "sccache"
rustflags = [
  "-C", "target-cpu=native",
  "-C", "target-feature=+avx512f,+avx512dq,+avx512vl,+fma",
  # Use the system default linker for Linux builds
  "-C", "linker=clang",
]