[build]



[test]
threads = 4

[target.x86_64-unknown-linux-gnu]
rustflags = [
  "-C", "target-cpu=native",

]

[target.x86_64-pc-windows-msvc]
rustflags = [
  "-Zdylib-lto",
  "-C", "target-cpu=native",


]

[target.wasm32-unknown-unknown]
rustflags = [
  "-C", "target-feature=+simd128",
  "-C", "link-arg=--import-memory",
  "-C", "link-arg=-zstack-size=32768",
]

[env]


CUDA_ARCH = "compute_89"
